body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



.game-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.game-item {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}
.gold{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

.download-btn {
    padding: 10px;
    background-color: #ff4500;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #e03e00;
}

footer {
    text-align: center;
    padding: 10px;
    background: #1e1e1e;
}
